<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{toptitle}}</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <div class="container">
      <h1 class="main-title"><a href="/index.html">Raphael Santos</a></h1>
      <nav>
        <ul>
          <li><a href="/software.html">Software</a></li>
          <li><a href="/publications.html">Publications</a></li>
          <li><a href="/music.html">Music</a></li>
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </nav>
      <div class="header-line"></div>
      {{content}}
    </div>
  </body>
</html>
